*{
    margin: 0;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(127, 22, 191);
    color: white;
  }

footer a{
    color: white;
}

.Movie_Heading{
    font-size: 30px;
    font-weight: bold;
}
.year_imdb{
    align-items: stretch;
}
.Cast_heading{
    padding-left: 5rem;
    font-size: 30px;
    
    text-decoration: underline;
}

.footer2 a {
    color: #000000;
    font-size: 20px;
    padding: 10px;
    
    transition: all .5s ease;
  }
  
  .footer2 a:hover {
    color: white;
  }